nav{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background-color: rgb(241, 31, 31);
    padding: 8px 0px;
    img{
        width: 280px;
    }
    #git-icon{
        color:#f1d621;
        background:#3580b3;
        border-radius:50%;
        transition: 0.7s;
        &:hover{
            transform: rotate(360deg);
        }
    }

    #menu-button{
        position:absolute;
        right: 15px;
        background:none;
        border:none;
        cursor: pointer;
        transition: 0.5s;
        color:#fff;
    }
    #menu-button:hover{
        transform: scale(1.1)
    }
}

@media only screen and (min-width: 900px) {
    nav{

    }
    #menu-button{
        right: 50px;
    }
}